/*!
 * layoutreset.css - Style resetter for SMW Central's post layouts
 * Created by Kamek the Magikoopa <https://www.smwcentral.net/?p=profile&id=28710>
 * 
 * This file is in Public Domain. (Feel free to use!)
 */

.layoutreset {
	background: transparent !important;
	padding: 0px !important;
	text-shadow: none !important;
	font: inherit !important;
	font-weight: normal !important;
	font-size: 13px !important;
	line-height: normal !important;
	color: inherit !important;
}

.layoutreset .quote {
	margin-left: 40px !important;
	margin-right: 40px !important;
}

.layoutreset .quote .boxhead {
	background: transparent !important;
	border: none !important;
	border-bottom: none !important;
	border-radius: 0px 0px 0px 0px !important;
	-moz-border-radius: 0px 0px 0px 0px !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
	font-size: 11px !important;
	text-shadow: inherit !important;
	vertical-align: baseline !important;
	color: inherit !important;
	padding: 0px 0px !important;
	display: inline !important;
}

.layoutreset .quote .box {
	background: transparent !important;
	margin-top: 2px !important;
	padding: 3px !important;
	border: 1px solid #405060 !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0px 0px 0px 0px !important;
	-moz-border-radius: 0px 0px 0px 0px !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
}

.layoutreset .code {
	margin-left: 40px !important;
	margin-right: 40px !important;
}

.layoutreset .code .boxhead {
	background: transparent !important;
	background-image: none !important;
	border: none !important;
	border-bottom: none !important;
	border-radius: 0px 0px 0px 0px !important;
	-moz-border-radius: 0px 0px 0px 0px !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
	font-size: 11px !important;
	vertical-align: baseline !important;
	color: #00FF00 !important;
	padding: 0px 0px !important;
	display: inline !important;
}

.layoutreset .code .box {
	background: transparent !important;
	margin: 2px 0 0 0 !important;
	padding: 3px !important;
	font-family: monospace !important;
	font-size: 12px !important;
	line-height: normal !important;
	border: 1px solid #00FF00 !important;
	color: #00FF00 !important;
	text-shadow: inherit !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0px 0px 0px 0px !important;
	-moz-border-radius: 0px 0px 0px 0px !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
}

.layoutreset .code .box:after {
	display: none !important;
}

.layoutreset a:link, .layoutreset a:visited {
	color: #80ffa0 !important;
	text-decoration: none !important;
	font-weight: inherit !important;
	text-shadow: inherit !important;
}

.layoutreset a:hover, .layoutreset a:active {
	text-decoration: underline !important;
	font-weight: inherit !important;
	text-shadow: inherit !important;
}

.layoutreset hr {
	border-top: none !important;
	width: 100%;
}

.layoutreset .collapsed-checkbox {
    display: none !important;
}

.layoutreset .collapsed-content {
    margin-left: 0.5em !important;
    padding-left: 0.5em !important;
    border-left: 2px solid white !important;
}